#page-mod-quiz-attempt .quizaccess_quizproctoring-video {
    position: fixed;
    bottom: 0px;
    right: 0px;
    z-index: 1000;
    width: 280px;
}
button.proctoringimage {
    margin-left: 1.5% !important;
    margin-bottom: 0.4% !important;
}