#page-mod-quiz-attempt .quizaccess_quizproctoring-video {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1000;
    width: 280px;
}
button.proctoringimage, button.proctoringvideo {
    margin-left: 1.5%;
    margin-bottom: 0.4%;
}
button.proctoridentity {
    margin-left: 1.5%;
    margin-bottom: 0.4%;
}
.imgheading {
    font-size: 1.171875rem;
    margin-bottom: 0.5rem;
    font-weight: 700;
    line-height: 1.2;
}
.quizaccess_quizproctoring{ 
    /*position: absolute;*/
    top: 0; 
    right: 0 !important;
    z-index: 1000 !important;
    width: 280px;
}
.modalvideo {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  backdrop-filter: blur(3px);
  right:0%;
}

/* Modal Content */
.modalvideo-content {
  margin: auto;
  width: 50%;
}

/* The Close Button */
.closevideo {
    color: #000;
    margin-right: 3px;
    float: right !important;
    font-size: 23px;
    height: 20px;
    font-weight: bold;
}

.closevideo:hover,
.closevideo:focus {
  color: #005;
  text-decoration: none;
  cursor: pointer;
}

#loading {
    backdrop-filter: blur(3px);
    position: fixed;
    top: 40%;
    left: 50%;
    height: 9%;
    width: 5%;
    z-index: 9999999;
}
